<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fa fa-blog fa-beat fa-6x"></i> -->
    <i class="fa-brands fa-blogger fa-6x" style="color: blue;"></i>
    <h1 class="display-3">My Blog</h1>
    <p class="lead">Innovative Minds: Shaping the Future, One Post at a Time</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
